/* src/components/Home.css */

/* Dark theme styles */
#home {
  background-color: #121212; /* Dark background color */
  color: #e0e0e0; /* Light text color */
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}

/* Fade-in animation */
.fade-in {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
